@import "Buttons.css";
@import "Inputs.css";
@import "Table.css";

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', sans-serif;
}
/* FONTS */
h1 {
  margin-top: 0;
}
h3 {
  font-weight: normal;
  margin: 0;
}
p {
  color: #808080;
}
a {
  color: inherit;
  text-decoration: none;
}
.text-center {
  text-align: center;
}
/* UI */
.card {
  background: #F5F5F5;
  border-radius: 4px;
  padding: 12px;
}
.card-link:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/* POSITIONING */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.pull-right {
  float: right;
}
.max-width {
  max-width: 960px;
  margin: auto;
  padding: 0 16px;
}
.padding {
  padding: 8px;
  box-sizing: border-box;
}
.margin-top {
  margin-top: 16px;
}
.margin-v {
  margin-top: 16px;
  margin-bottom: 16px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.col-2 {
  width: calc(100% / 6);
  float: left;
}
.col-3 {
  width: calc(100% / 4);
  float: left;
}
.col-4 {
  width: calc(100% / 3);
  float: left;
}
.col-6 {
  width: 50%;
  float: left;
}
.col-8 {
  width: calc(100% * (8/12));
  float: left;
}
.col-9 {
  width: calc(100% * (9/12));
  float: left;
}
@media (max-width: 670px) {
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .col-8 {
    width: 100%;
  }
  .col-9 {
    width: 100%;
  }
  .mobile-hide {
    display: none;
  }
}
