@import "Buttons.css";
@import "Inputs.css";

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', sans-serif;
}
/* FONTS */
h1 {
  margin-top: 0;
}
h3 {
  font-weight: normal;
  margin: 0;
}
.text-center {
  text-align: center;
}
/* UI */
.card {
  background: #F5F5F5;
  border-radius: 4px;
  padding: 12px;
}
/* POSITIONING */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.pull-right {
  float: right;
}
